body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url(../images/ben-kolde-EBdGhK7lKFE-unsplash.jpg);
  background-size: cover;
}

textarea {
  background: transparent;
  resize: none;
  color: #000000;
  padding: 10px;
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
}

.jumbotron {
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border-radius: 0;
  border-bottom: 2px solid hsl(0, 0%, 46%);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-top: 1px dashed hsl(0, 0%, 50%);
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  color: #000000;
}

.past {
  background-color: hsl(0, 0%, 50%);
  border: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 70%);
}

.present {
  background-color: hsl(7, 66%, 57%);
  border: 1px solid hsl(7, 66%, 60%);
  border-bottom: 1px solid hsl(7, 66%, 65%);
}

.future {
  background-color: hsl(127, 66%, 57%);
  border: 1px solid hsl(127, 66%, 60%);
  border-bottom: 1px solid hsl(127, 66%, 70%);
}

.past,
.present,
.future {
  opacity: 0.85;
}

.save-btn {
  background-color: hsl(247, 66%, 57%);
  color: white;
  font-size: 16px;
  border: 1px solid hsl(247, 66%, 50%);
  border-bottom: 1px solid hsl(247, 66%, 43%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
  transition: font-size 250ms ease-in-out, background-color 250ms ease-in-out;
}

.save-btn:hover,
.save-btn:focus {
  font-size: 20px;
  background-color: hsl(247, 66%, 63%);
}

.schedule {
  background-color: rgba(255, 255, 255, 0.8);
}
